project:
  type: website

website:
  title: "Frederick County, MD, County Council District Two"
  navbar:
    left:
      - href: index.qmd
        text: Home
        
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

execute: 
  echo: false